body {
	font-family: "Press Start 2P", serif;
	text-align: center;
	background-color: #3B2F6A;
	color: white;
	margin: auto;
}

h1 {
	font-family: nabla;
	font-size: 80px;
}

h1, h2 {
	margin-bottom: 70px;
}


h3 {
	margin-bottom : 40px;
}

.music-link {
	color: #FEC9E4;
	width: 400px;
	line-height: 1.5;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.music-link a {
	text-decoration: none;
}
/*
.music-link a:hover {
	color: red;
}
*/
a:visited {
	color: inherit;
}

.feature {
	color: #ff9fcb;
}
/*
.feature a:hover {
	color: red;
}
*/
.cover {
	display: flex;
	height: 400px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	transition: all 0.3s ease;
	margin-bottom: 150px;
}

.cover:hover{
	transform: scale(1.1);
}

.singles {
	
}

.albums {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.social-link {
	width: 120px;
	margin: 150px auto 20px;
	display: block;
}

.instagram {
	height: 100px;
	width: 120px;
	margin: 150px auto 0;
	display: block;
	transition: all 0.3s ease;
}

.instagram:hover {
	transform: scale(1.1);
}

.fa-instagram {
	height: 50px;
	width: 50px;
	color: #FEC9E4;
}

.questionmark {
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

